* {
  box-sizing: border-box;
}
/* background-image: url('../assets/img/image.jpg'); */
.header {
    border: 1px solid red;.
}
.main {
    border: 1px solid blue;.
}

.footer {
    border: 1px solid yellow;.
}
